{% extends '_base.html' %}
{% load static %}

{% block title %}About page {% endblock %}

{% block content %}
    <div class="row mb-5">
        <div class="col-md-6 d-flex justify-content-start">
            <a href="{% url 'pages:install_midtown' %}" class="btn btn-success btn-lg">Install at Midtown</a>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <a href="{% url 'pages:work_midtown' %}" class="btn btn-success btn-lg">Apply at Midtown</a>
        </div>
    </div>

        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'images/hello.jpg'%}" class="card-img-top p-4" alt="hello">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="display-6 d-flex justify-content-center">GREATER ST. LOUIS, KANSAS CITY, NASHVILLE, CHICAGO HOME REMODELING GENERAL CONTRACTOR </p>
                <div class="d-flex justify-content-center">
                    <hr style="width: 5rem;">
                </div>
            </div>
            <div class="col-md-12">
                <p class="h6">AWARD-WINNING FULL LINE RESIDENTIAL REMODELER</p>
                <p>Since 1990, Midtown Home Improvements has been your local, family-owned and -operated home remodeling company, offering everything from roof replacement to window installation to kitchen and bathroom remodeling services. We are proud to service customers throughout the greater St. Louis, Kansas City, Nashville, and Chicago metro areas.</p>
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/KvgqaXq7z2I" title="YouTube video player" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>As an industry leader in home improvement projects, we have received numerous recognitions for our work. We know that our customers are the reason that we’re in business, and we strive to exceed customer expectations every time. We have 40 full-time and 30 part-time employees, which means that we can take on any size job, no matter how big or small. All our employees are fully committed and are held accountable to the following family values:</p>
            </div>
            <div class="col-md-4 pb-3">
               <div class="card bg-success text-light" style="height: 19rem;">
                    <div class="card-header h6 d-flex justify-content-center">
                        Growth Oriented
                    </div>
                    <div class="card-body">
                        <p> Sincere Willingness to evolve, increase personal knowledge to the fullest; therefore serving the greater good by creating unified company growth and long-term seamless sustainability. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3">
               <div class="card bg-success text-light" style="height: 19rem;">
                    <div class="card-header h6 d-flex justify-content-center">
                        Gratitude
                    </div>
                    <div class="card-body">
                        <p> Demonstrate your appreciation through proper personal action toward fellow workers, clients, our business and industry as a whole </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3">
               <div class="card bg-success text-light" style="height: 19rem;">
                    <div class="card-header h6 d-flex justify-content-center">
                        Positive Character
                    </div>
                    <div class="card-body">
                        <p> A positive culture of 100% accountability run by confident, effective, and highly responsible people. An enviroment where everyone demonstrates appreciation, pleasing attitudes, and are compassionate and respectful towards all co-workers and clients in a fun climate. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3">
               <div class="card bg-success text-light" style="height: 19rem;">
                    <div class="card-header h6 d-flex justify-content-center">
                        Dedication
                    </div>
                    <div class="card-body">
                        <p> A culture that demonstrates commitment, loyalty, and devotion to client happiness, while incorporating strong work ethic, no excuses, and adopting a win-win attitude. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3">
               <div class="card bg-success text-light" style="height: 19rem;">
                    <div class="card-header h6 d-flex justify-content-center">
                        Initiative
                    </div>
                    <div class="card-body">
                        <p> Doing things well consistently without being told, therefore eliminating procrastination to properly serve our clientele in a unified and timely effort. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3">
               <div class="card bg-success text-light" style="height: 19rem;">
                    <div class="card-header h6 d-flex justify-content-center">
                        Trust
                    </div>
                    <div class="card-body">
                        <p> Must start at the highest level of our organization and stream throughout it. Trust is the firm belief in the reliability, truth, ability, and strength in each of us. It must be earned by all and protected as a key foundation building block which supports all other Midtown Family Values.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 bg-light">
                <p class="h6 d-flex justify-content-center"> Mission Statement</p>
                <p>Midtown Home Improvements’ mission is to be an industry leader in providing value- added home improvement projects. We accomplish this by exceeding customer expectations in all areas including timeliness, attention to detail and service-minded attitude. In support of this mission we hire, train and empower employees that create Raving Fans at every point of contact</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="display-6"><b>OUR EXPERT HOME REMODELING SERVICES</b></p>
                <p>We work hard to exceed our customers’ expectations, especially in relation to timeliness and attention to detail, while maintaining our service-minded attitude. We offer the following services to residential customers:</p>
            </div>
            <div class="col-md-6">
                <ul class="list-group-flush">
                    <li class="list-group-item"><a href="#" class="text-success text-decoration-none"> Roof</a> replacement & repair </li>
                    <li class="list-group-item"> Energy-efficient <a href="#" class="text-success text-decoration-none">windows & entry doors</a> </li>
                    <li class="list-group-item"><a href="#" class="text-success text-decoration-none"> Siding </a></li>
                    <li class="list-group-item">Soffits </li>
                    <li class="list-group-item">Fascia </li>
                    <li class="list-group-item"> Gutters </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group-flush">
                    <li class="list-group-item"> Kroy <a href="#" class="text-success text-decoration-none"> fencing </a></li>
                    <li class="list-group-item"> Low-maintenance  <a href="#" class="text-success text-decoration-none"> decks </a> </li>
                    <li class="list-group-item"> Patio covers </li>
                    <li class="list-group-item"> <a href="#" class="text-success text-decoration-none"> Kitchen</a> & <a href="#" class="text-success text-decoration-none"> bathroom </a> remodeling </li>
                    <li class="list-group-item"> Basement finishing </li>
                    <li class="list-group-item"> eShield™ <a href="#" class="text-success text-decoration-none"> attic insulation </a> </li>
                    <li class="list-group-item"> Sunrooms </li>
                </ul>
            </div>
            <div class="col-md-12">
                <p>What sets us apart from other general contractors is our commitment to always provide value for your money, ensuring that your investment is worth the expense. We are also a contractor that you can trust to get the job done on time and within budget.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="h3">CONTACT US TO GET STARTED</p>
                <p>Since 1990, Midtown Home Improvements has been helping residents throughout St. Louis, St. Charles, Jefferson County and the Greater Kansas City area in Missouri and Southwest Illinois. We work hard to ensure that your vision for your home becomes a reality.</p>
            </div>
        </div>

{% endblock content %}