{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p class="display-6"> VOTED THE BEST PLACE TO WORK IN ST. LOUIS </p>
            <div class="col-md-12 d-flex justify-content-center">
                <hr class="border border-3 border-success" style="width:25rem;">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://drive.google.com/file/d/1T-duvKCdMLEuUV3ZibSABHWxnjxVi8ko/preview" title="Drive google video player" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="h3"> JOIN OUR TEAM!</p>
            <p> Since 1990, Midtown Home Improvements has been working hard for our customers to ensure their satisfaction, and we know that all starts with our employees. As your local roofer and general contractor, we rely on our staff members, and we treat them like family. In fact, all our employees are committed and held accountable to the following family values: </p>
        </div>
        <div class="col-md-6">
            <ul class="list-group-flush">
                <li class="list-group-item"> Growth-oriented mindset </li>
                <li class="list-group-item"> Positive character </li>
                <li class="list-group-item"> Dedication to their job </li>
            </ul>
        </div>
        <div class="col-md-6">
             <ul class="list-group-flush">
                <li class="list-group-item"> Initiative </li>
                <li class="list-group-item"> Trust </li>
             </ul>
        </div>
        <div class="col-md-12">
            <p> In return, Midtown Home Improvements ensures that our workplace is welcoming and friendly. Don’t just take our word for it. We have been named by the <a href="https://graphics.stltoday.com/apps/workplaces-2018/business/midtown-home-improvements/" class="text-success text-decoration-none">St. Louis Post-Dispatch</a> as one of the top places to work. We offer paid employee health insurance, 401(k) matching and vacation packages. We are also dedicated to adequately training our employees, which is why we offer multiple paid training programs. We currently employ over 40 full-time and over 30 part-time employees.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="h3"> FIND YOUR NEXT CAREER </p>
            <p> Midtown Home Improvements performs a variety exterior work for our customers, including siding, roof replacement, windows, doors, gutters, decks and more. If you have experience in these trades, then we’d love to talk to you. You can find our current job openings by visiting Glassdoor or Indeed, or by giving us a call. </p>
            <p class="display-6 text-success d-flex justify-content-center"> Job Application Form </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="h3"> CONTACT US TO LEARN MORE </p>
            <p> As the premier roofer and general contractor in the Greater Kansas City and St. Louis areas, Midtown Home Improvements is proud of our employee benefits and our committed team members.  </p>
        </div>
    </div>

{% endblock %}