{% extends '_base.html' %}
{% load static %}

{% block title %} Area We serve {% endblock %}

{% block content %}
        <div class="row mb-5">
            <div class="col-md-6 d-flex justify-content-start">
                <a href="{% url 'pages:install_midtown' %}" class="btn btn-success btn-lg">Install at Midtown</a>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <a href="{% url 'pages:work_midtown' %}" class="btn btn-success btn-lg">Apply at Midtown</a>
            </div>
        </div>

    <div class="row">
        <div class="col-md-12">
            <p class="d-flex justify-content-center h5 my-4"> St. Louis, MO Metro Area </p>
            <div class="ratio ratio-16x9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3108.659038693862!2d-90.84216968463824!3d38.8173651592627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87dec8a7f4feecc9%3A0x64289cb3da4018d1!2s120%20Resource%20Dr%2C%20Wentzville%2C%20MO%2063385!5e0!3m2!1sen!2sus!4v1628193340937!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p class="d-flex justify-content-center h5 my-4"> Kansas City, M0 Metro Area </p>
            <div class="ratio ratio-4x3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.075046743519!2d-94.40339998463564!3d38.92226215308312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0e01ee9a20c37%3A0xcf5e782abb98475d!2sMidtown%20Home%20Improvements!5e0!3m2!1sen!2sus!4v1628193796450!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <p class="d-flex justify-content-center h5 my-4"> Nashville, TN Metro Area </p>
            <div class="ratio ratio-4x3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.8308316024704!2d-86.68055338470296!3d36.097611614630885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88646f05b0e12629%3A0xb192fc15d30e4ba4!2sMidtown%20Home%20Improvements!5e0!3m2!1sen!2sus!4v1628193651756!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <p class="d-flex justify-content-center h5 my-4">Chicago, IL Metro Area</p>
            <div class="ratio ratio-4x3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.8812841191098!2d-87.96545548455703!3d41.98135856692496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fb120b398e0e3%3A0x11eb67e12e577fde!2sMidtown%20Home%20Improvements!5e0!3m2!1sen!2sus!4v1628193741296!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
{% endblock %}