{% extends '_base.html' %}
{% load static %}

{% block content %}
    <!-- title local, family-owned missouri -->
    <section>
        <div class="row">
            <div class="col-md-12">
                <p class="display-6 d-flex justify-content-center"> LOCAL, FAMILY-OWNED MISSOURI, <br>ILLINOIS,KANSAS, & TENNESSEE ROOFER </p>
                <div class="col-md-12 d-flex justify-content-center">
                    <hr class="border border-4 border-success" style="width:5rem;">
                </div>
            </div>
        </div>
    </section>

    <!--specializing in shield -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="display-6"> SPECIALIZING IN ESHIELD™ ATTIC INSULATION SERVICES </p>
                <img src="{% static 'images/attic.jpg'%}" class="card-img-top p-4" alt="fence">
                <p> Attics are the top culprits when it comes to residential energy loss. Although many homes have fiberglass or another type of attic insulation, it still may not protect you from the outside temperatures or the high energy bills! </p>
                <p> One cause for expensive power bills that many homeowners don’t consider is depleted R-value. As insulation ages, its ability to resist heat decreases, along with its effectiveness. Additionally, insulation that has been subject to moisture or has compressed over time does not provide its labeled R-value. Unless you’ve updated your building’s attic insulation recently, you probably don’t have as much protection as you think you do. </p>
            </div>
        </div>
    </section>

    <!-- videos and informatio -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12 p-3">
                <div class="ratio ratio-21x9">
                    <iframe src="https://www.youtube.com/embed/rtgNg3GgcZg" title="YouTube video player" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-12 p-3">
                <div class="ratio ratio-21x9">
                    <iframe src="https://www.youtube.com/embed/YpxIz_dvJrQ" title="YouTube video player" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-12">
                <p> Another reason for energy loss through the attic is emission or radiant heat transfer, which is essentially the transfer of heat through empty space rather than by direct contact. If you’ve ever felt the warmth of the sun on your face, then you’ve experienced heat transfer by emission. Adding attic insulation, such as fiberglass or cellulose, doesn’t fully address this type of transfer because they protect mostly against convection and conduction, two other types of heat transfer. </p>
            </div>
        </div>
    </section>

    <!-- WHAT MAKES ESHIELD™ ATTIC INSULATION DIFFERENT -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="h3"> WHAT MAKES ESHIELD™ ATTIC INSULATION DIFFERENT </p>
                <p> Your roof is constantly subject to the heat of the sun during summer, and rain, snow and cold temperatures during winter, making it very difficult to keep heat from moving between the inside and out. After a certain point, regular insulation simply can’t absorb any more heat, rendering it basically useless. Rather than absorb the heat and hold it, eShield™ actually reflects it, helping you keep the temperature of your home independent from the outside environment. </p>
                <p> By addressing all three types of energy transfer, eShield attic insulation can help lower your utility bills and keep your family cozy. To learn more about eShield insulation services for attics, garages, walls, floors, exteriors and more, contact Midtown Home Improvements today. </p>
            </div>
        </div>
    </section>

    <!-- Get your attic inspected today -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="h3"> GET YOUR ATTIC INSPECTED TODAY </p>
                <p> Midtown Home Improvements, your local roofer and general contractor, can assist you with your upcoming attic insulation project. Call us now at <strong class="text-success">(816) 246-8589</strong> in O’Fallon, MO, or at <strong class="text-success">(636) 379-8889</strong> in Lee’s Summit, MO. You can also <a href="{% url 'pages:contact' %}" class="text-decoration-none text-success">fill out our online form. </a></p>
            </div>
        </div>
    </section>

{% endblock %}
