{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
        <p class="display-6"> OUR AWARDS </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 p-2">
            <div class="card bg-success text-light">
                <div class="card-header h6 d-flex justify-content-center">
                    <i class="fas fa-award pe-3"></i>
                    <a href="https://www.qualifiedremodeler.com/firm/midtown-home-improvements-inc/?y=2021" target="_blank" class="text-decoration-none text-white"> 2021 TOP 500 LIST </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-2">
            <div class="card bg-success text-light">
                <div class="card-header h6 d-flex justify-content-center">
                    <i class="fas fa-award pe-3"></i>
                    <a href="https://www.bizjournals.com/stlouis/news/2019/03/07/best-places-to-work-2019-what-typifies-the-best.html?iana=cp_news_link" target="_blank" class="text-decoration-none text-white"> Best Places to Work 2019: What typifies the best workplaces? </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-2">
            <div class="card bg-success text-light">
                <div class="card-header h6 d-flex justify-content-center">
                    <i class="fas fa-award pe-3"></i>
                    <a href="https://www.bizjournals.com/stlouis/news/2019/03/07/best-places-to-work-2019-midtown-home-improvements.html?iana=cp_news_link" target="_blank" class="text-decoration-none text-white"> Best Places to Work 2019: Midtown Home Improvements guides with core values </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}