{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
        <p class="display-6"> OUR AWARDS </p>
        </div>
    </div>

    <!-- our award-->
<section>
    <div class="row">
        <div class="col-md-12 p-2 my-5">
            <div class="card bg-success text-light p-3">
                <div class="card-body">
                    <ul class="list-group-flush">
                        <li class="list-group-item bg-transparent">
                          <i class="fas fa-award pe-3"></i>
                          <a href="https://www.qualifiedremodeler.com/firm/midtown-home-improvements-inc/?y=2021" target="_blank" class="text-decoration-none text-white fade-in"> 2021 TOP 500 LIST </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                          <i class="fas fa-award pe-3"></i>
                          <a href="https://topworkplaces.com/company/midtown-home-improvement/stltoday/" target="_blank" class="text-decoration-none text-white fade-in2"> TOP WORK PLACES </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                          <i class="fas fa-award pe-3"></i>
                          <a href="https://www.inc.com/profile/midtown-home-improvements" target="_blank" class="text-decoration-none text-white fade-in3"> 2021 Incorporation 5000 </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                          <i class="fas fa-award pe-3"></i>
                          <a href="https://www.bizjournals.com/stlouis/news/2019/03/07/best-places-to-work-2019-what-typifies-the-best.html?iana=cp_news_link" target="_blank" class="text-decoration-none text-white fade-in4"> Best Places to Work 2019: What typifies the best workplaces? </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                          <i class="fas fa-award pe-3"></i>
                          <a href="https://www.bizjournals.com/stlouis/news/2019/03/07/best-places-to-work-2019-midtown-home-improvements.html?iana=cp_news_link" target="_blank" class="text-decoration-none text-white fade-in5"> Best Places to Work 2019: Midtown Home Improvements guides with core values </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                          <i class="fas fa-award pe-3"></i>
                          <a href="https://www.stltoday.com/brandavestudios/top-leaders-honored-for-their-commitment-to-employees-the-community/article_44f111dc-9439-11e9-a43f-d7fd95e82716.html" target="_blank" class="text-decoration-none text-white fade-in6"> 2019 Top leaders honored for their commitment to employees, the community </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                          <i class="fas fa-award pe-3"></i>
                          <a href="https://www.stltoday.com/business/local/amid-rapid-growth-midtown-home-improvements-keeps-focus-on-its-people/article_a8da6355-78db-56ef-9060-1605f8ce9939.html" target="_blank" class="text-decoration-none text-white fade-in7"> 2018 Amid rapid growth, Midtown Home Improvements keeps focus on its people </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                          <i class="fas fa-award pe-3"></i>
                          <a href="https://www.bizjournals.com/stlouis/news/2018/03/09/midtown-home-improvements-growth-provides-career.html" target="_blank" class="text-decoration-none text-white fade-in8"> 2018 Midtown Home Improvements' growth provides career opportunities </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                          <i class="fas fa-award pe-3"></i>
                          <a href="https://www.bizjournals.com/stlouis/print-edition/2015/06/12/midtown-home-improvements-22.html" target="_blank" class="text-decoration-none text-white fade-in9"> 2015 FASTEST GROWING COMPANIES</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}