{% extends '_base.html' %}
{% load static %}

{% block content %}
    <section id="Family_owed_hero">
        <div class="container-fluid">
            <div class="row bg-green text-light">
                <div class="px-4 py-3 my-5 text-center">
                    <h1 class="display-5 fw-bold my-4"><i class="fas fa-medal"></i> Awards</h1>
                    <p class="lead">Achievements & Recognition</p>
                </div>
            </div>

        </div>
    </section>

    <div class="container my-5">

        <div class="row">
            <p class="lead">Here you'll find a list of various awards and recognition that we've had.</p>
        </div>

        <div class="row my-5">
            <div class="col-md-12 my-3">
                <a href="https://www.qualifiedremodeler.com/firm/midtown-home-improvements-inc/?y=2021" target="_blank" class="text-decoration-none">
                    <div class="card p-2 bg-light bg-gradient">
                        <div class="card-body text-dark">
                            <h6 class="card-title"><mark class="bg-dark text-ghost">2021 Top 500 List - No. 51</mark></h6>
                            <div><mark class="bg-green text-ghost">Qualified Remodeler</mark></div>
                            <p class="card-text mt-3">Midtown has been named to the 2021 Top 500 Remodelers list.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-12 my-3">
                <a href="https://topworkplaces.com/company/midtown-home-improvement/stltoday/" target="_blank" class="text-decoration-none">
                    <div class="card p-2 bg-light bg-gradient">
                        <div class="card-body text-dark">
                            <h6 class="card-title"><mark class="bg-dark text-ghost">Greater St. Louis Top Workplaces 2021</mark></h6>
                            <div><mark class="bg-green text-ghost">Top Workplaces</mark></div>
                            <p class="card-text mt-3">Midtown was rated one of the top places to work once again.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-12 my-3">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title"><mark class="bg-dark text-ghost">2021 Inc 5000 - No. 3,931</mark></h5>
                        <div class="h6"><mark class="bg-green text-ghost">Inc.</mark></div>
                        <a href="https://www.inc.com/profile/midtown-home-improvements" target="_blank" class="btn btn-purple btn-sm text-light my-3"><i class="fas fa-external-link-alt"></i> Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 my-3">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title"><mark class="bg-dark text-ghost">Veteran Owned Business</mark></h5>
                        <div class="h6"><mark class="bg-green text-ghost">BuyVeteran.com</mark></div>
                        <a href="https://www.inc.com/profile/midtown-home-improvements" target="_blank" class="btn btn-purple btn-sm text-light my-3"><i class="fas fa-external-link-alt"></i> Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 my-3">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title"><mark class="bg-dark text-ghost">2019 Best Places to Work</mark></h5>
                        <div class="h6"><mark class="bg-green text-ghost">St. Louis Business Journal</mark></div>
                        <a href="https://www.bizjournals.com/stlouis/news/2019/03/07/best-places-to-work-2019-what-typifies-the-best.html" target="_blank" class="btn btn-purple btn-sm text-light my-3"><i class="fas fa-external-link-alt"></i> Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


<section>
    <div class="row">
        <div class="col-md-12 p-2 my-5">
            <div class="card bg-success text-light p-3">
                <div class="card-body">
                    <ul class="list-group-flush">
                        <li class="list-group-item bg-transparent">
                            <i class="fas fa-award pe-3"></i>
                            <a href="https://www.qualifiedremodeler.com/firm/midtown-home-improvements-inc/?y=2021" target="_blank" class="text-decoration-none text-white fade-in"> 2021 TOP 500 LIST </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <i class="fas fa-award pe-3"></i>
                            <a href="https://topworkplaces.com/company/midtown-home-improvement/stltoday/" target="_blank" class="text-decoration-none text-white fade-in2"> TOP WORK PLACES </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <i class="fas fa-award pe-3"></i>
                            <a href="https://www.inc.com/profile/midtown-home-improvements" target="_blank" class="text-decoration-none text-white fade-in3"> 2021 Incorporation 5000 </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <i class="fas fa-award pe-3"></i>
                            <a href="https://www.buyveteran.com/ofallon/construction/midtown-home-improvements" target="_blank" class="text-decoration-none text-white fade-in4"> Veteran Award</a>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <i class="fas fa-award pe-3"></i>
                            <a href="https://www.bizjournals.com/stlouis/news/2019/03/07/best-places-to-work-2019-what-typifies-the-best.html?iana=cp_news_link" target="_blank" class="text-decoration-none text-white fade-in5"> Best Places to Work 2019: What typifies the best workplaces? </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <i class="fas fa-award pe-3"></i>
                            <a href="https://www.bizjournals.com/stlouis/news/2019/03/07/best-places-to-work-2019-midtown-home-improvements.html?iana=cp_news_link" target="_blank" class="text-decoration-none text-white fade-in6"> Best Places to Work 2019: Midtown Home Improvements guides with core values </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <i class="fas fa-award pe-3"></i>
                            <a href="https://www.stltoday.com/brandavestudios/top-leaders-honored-for-their-commitment-to-employees-the-community/article_44f111dc-9439-11e9-a43f-d7fd95e82716.html" target="_blank" class="text-decoration-none text-white fade-in7"> 2019 Top leaders honored for their commitment to employees, the community </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <i class="fas fa-award pe-3"></i>
                            <a href="https://www.stltoday.com/business/local/amid-rapid-growth-midtown-home-improvements-keeps-focus-on-its-people/article_a8da6355-78db-56ef-9060-1605f8ce9939.html" target="_blank" class="text-decoration-none text-white fade-in8"> 2018 Amid rapid growth, Midtown Home Improvements keeps focus on its people </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <i class="fas fa-award pe-3"></i>
                            <a href="https://www.bizjournals.com/stlouis/news/2018/03/09/midtown-home-improvements-growth-provides-career.html" target="_blank" class="text-decoration-none text-white fade-in9"> 2018 Midtown Home Improvements' growth provides career opportunities </a>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <i class="fas fa-award pe-3"></i>
                            <a href="https://www.bizjournals.com/stlouis/print-edition/2015/06/12/midtown-home-improvements-22.html" target="_blank" class="text-decoration-none text-white fade-in10"> 2015 FASTEST GROWING COMPANIES</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
