{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p class="display-6 d-flex justify-content-center"> BATHROOM REMODELING  CONTRACTOR <br> SERVING GREATER ST. LOUIS & KANSAS CITY </p>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <hr class="border border-4 border-success" style="width:5rem;">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p> Do you have dreams of a spa-like master suite? Is your guest bath needing a little love? From the simple to the luxurious, Midtown Home Improvements can create beautiful, functional bathrooms that perfectly match your vision. Let one of our highly-trained bathroom remodeling contractors guide you on your path to your dream bath. </p>

            <img src="{% static 'images/bathroom.jpg'%}" class="card-img-top p-4" alt="bathroom">
            <p> Our skilled designers can create a computerized, customized design based on your specific requirements. We offer on-site project management to ensure that your individualized needs are being met. We can assist you with many different projects, including: </p>
        </div>
        <div class="col-md-6">
            <ul class="list-group-flush">
                <li class="list-group-item"> Updating faucets, fixtures and toilets </li>
                <li class="list-group-item"> Increasing the number of sinks </li>
                <li class="list-group-item"> Installing a new shower or clawfoot tub </li>
                <li class="list-group-item"> Adding additional lighting </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group-flush">
                <li class="list-group-item"> Updating the storage space </li>
                <li class="list-group-item"> Redoing the floors, including replacing the existing tile </li>
                <li class="list-group-item"> Adding new ventilation </li>
                <li class="list-group-item"> Installing hand rails </li>
            </ul>
        </div>
        <div class="col-md-12">
            <p>Our expert designers will gladly discuss your project and develop a design that fits your needs and budget.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="h3"> WHY CHOOSE US </p>
            <p> Midtown Home Improvements seeks to always exceed the expectations of our customers – in everything from timeliness to attention to detail. We have over 40 full-time and over 30 part-time employees. This ensures that no matter the size of your project, we will always have the manpower to handle it. We offer true value for every dollar that you spend. </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="h3"> START ON YOUR DREAM BATHROOM TODAY </p>
            <p> For nearly 30 years, we have been assisting residents throughout St. Louis, St. Charles, Jefferson County, Southwest Illinois and the Greater Kansas City area. Midtown Home Improvements is the expert in home improvement services, and we are so confident in our work that we offer comprehensive labor and material warranties. Let us help you create the bathroom that you have always desired. Call us now at <strong class="text-success">(816) 246-8589</strong> in O’Fallon, MO, or at <strong class="text-success">(636) 379-8889</strong> in Lee’s Summit, MO. Get your free estimate by <a href="{% url 'pages:contact' %}" class="text-success text-decoration-none">filling out our online form.</a> </p>
        </div>
    </div>
{% endblock %}