{% extends '_base.html' %}
{% load static %}

{% block content %}
    <!-- top title the best deck and under -->
    <section>
        <div class="row">
            <div class="col-md-12">
                <p class="display-6 d-flex justify-content-center">THE BEST DECK & UNDER DECKING <br> CONTRACTOR IN THE AREA</p>
                <div class="col-md-12 d-flex justify-content-center">
                    <hr class="border border-3 border-success" style="width:5rem;">
                </div>
            </div>
        </div>
    </section>

    <!-- building beautiful and image -->
    <section class="my-5">
        <div class="row">
            <p class="h3"> BUILDING BEAUTIFUL, DURABLE CUSTOM DECKS SINCE 1990 </p>
            <img src="{% static 'images/deck.jpg' %}" class="card-img p-4" alt="deck">
            <p> Whether you need a multi-tiered deck or a single-level deck, Midtown’s expert deck installation teams ensure that your deck enriches your outdoor living space. While many deck building companies still use traditional wood planks, at Midtown, we prefer to use the best in the business – Zuri® Premium Decking. There are many advantages that come with using the latest decking material from Zuri, including the fact that it’s lightweight, stain-resistant, mold-resistant and fade-resistant, and made from durable PVC! </p>
        </div>
    </section>

    <!-- videos and your zuri PVC deck  -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12 p-3">
                <div class="ratio ratio-21x9">
                    <iframe src="https://www.youtube.com/embed/c8aQCO22D_4" title="YouTube video player" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-12 p-3">
                <div class="ratio ratio-21x9">
                    <iframe src="https://www.youtube.com/embed/rhWIwxvdnV4" title="YouTube video player" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-12 p-3">
                 <div class="ratio ratio-21x9">
                    <iframe src="https://www.youtube.com/embed/gFnmO8exG74" title="YouTube video player" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-12">
                <p> Your Zuri PVC deck will hold up to the punishing sun, the expansion and contraction of freeze/thaw cycles, and the dirt and grime that can build up on traditional deck surfaces. Heck, even bugs will not eat Zuri’s PVC deck materials! </p>
            </div>
        </div>
    </section>

    <!-- Premium under decking system and the benefits  -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12 ">
                <p class="h3">PREMIUM UNDER DECKING SYSTEMS</p>
                <p> Another premium product from Midtown is InsideOut® Underdecking Rain Carrying Systems. InsideOut is the best and easiest way to create a great outdoor space under your raised deck. It is made of vinyl ceiling panels that collect and drain water away. It provides a maintenance-free ceiling that covers the unsightly underside of your deck, turning it into a clean, bright, dry outdoor space. You can change your space into a screened porch, add a hot tub or just use it as a comfortable outdoor room to relax. You can even use the InsideOut system to create dry storage for lawn equipment, bikes and more. Benefits of InsideOut Underdecking include </p>
            </div>
            <div class="col-md-6">
                <ul class="list-group-flush">
                    <li class="list-group-item"> Creates a beautiful and dry outdoor space. </li>
                    <li class="list-group-item"> Easy-maintenance vinyl construction. </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group-flush">
                    <li class="list-group-item"> All-weather protection. </li>
                    <li class="list-group-item"> 10-year limited warranty. </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- advantages of midtown's and the explanation  -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="h3"> ADVANTAGES OF MIDTOWN’S PROFESSIONALLY-INSTALLED ZURI® DECKS </p>
            </div>
            <div class="col-md-12">
                <ul class="list-group-flush">
                    <li class="list-group-item"> Contains no plant or wood fibers </li>
                    <li class="list-group-item"> Made with solid core cellular vinyl construction </li>
                    <li class="list-group-item"> Low maintenance – no painting, no staining, no sealing </li>
                    <li class="list-group-item"> Will not split, crack, warp, rot, cup, splinter, sustain mold, decay or become lunch for insects </li>
                    <li class="list-group-item"> Scratch-resistant </li>
                    <li class="list-group-item"> Welded wood grain on two sides </li>
                    <li class="list-group-item"> 30% to 40% lighter than wood </li>
                    <li class="list-group-item"> Wide variety of rich colors </li>
                    <li class="list-group-item"> Matching rim board profiles available </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- let us beautify your home -->
    <section class="my-5">
       <div class="row">
            <div class="col-md-12">
                <p class="h3"> LET US BEAUTIFY YOUR HOME </p>
                <p>With over 40 full-time employees and 30 part-time employees, we can handle exterior jobs of any size. Let us show you why we are a consistently top-rated company. We serve customers throughout the Greater St. Louis and Kansas City areas. Call us at <strong class="text-success">(816) 246-8589</strong> in O’Fallon, MO, or at <strong class="text-success">(636) 379-8889</strong> in Lee’s Summit, MO. You may also <a href="{% url 'pages:contact' %}" class="text-success text-decoration-none"> submit any comments or questions to us via our online form.</a></p>
            </div>
        </div>
    </section>
{% endblock %}