{% extends '_base.html' %}
{% load static %}

{% block title %} Exterior Page {% endblock %}

{% block content %}

    <div class="container my-5">
        <!-- top buttons  -->
        <section>
            <div class="row mb-5">
                <div class="col-md-6 d-flex justify-content-start">
                    <a href="{% url 'pages:install_midtown' %}" class="btn btn-success btn-lg">Install at Midtown</a>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <a href="{% url 'pages:work_midtown' %}" class="btn btn-success btn-lg">Apply at Midtown</a>
                </div>
            </div>
        </section>

        <!-- your source for quality -->
        <section class="my-5">
            <div class="row">
                <div class="col-md-12">
                    <p class="display-6 d-flex justify-content-center"> YOUR SOURCE FOR QUALITY EXTERIOR PROJECTS </p>
                    <div class="col-md-12 d-flex justify-content-center">
                       <hr class="border border-3 border-success" style="width: 5rem;">
                    </div>
                </div>
            </div>
        </section>

        <!-- image and we do siding roofing, decking and so on -->
        <section class="my-5">
            <div class="row">
                <div class="col-md-12">
                    <img src="{% static 'images/exterior.jpg'%}" class="card-img-top p-4" alt="fence">
                    <p class="h3"> WE DO SIDING, ROOFING, DECKING, WINDOWS, GUTTERS & MORE </p>
                    <p>Midtown Home Improvements has been providing exterior services to Greater St. Louis and Kansas City area residents for nearly 30 years. As your local general contractor, we work tirelessly to ensure that your house is transformed into your dream home. We are committed to going the extra mile to ensure that you enjoy your new project for many years to come.</p>
                    <p>When you choose Midtown Home Improvements for your exterior remodeling endeavors, you can rest assured that you have chosen the best in the Midwest. All exterior projects are backed by unparalleled product and installation warranties. Our product quality and overall scope of work far exceeds industry standards.</p>
                </div>
            </div>
        </section>

        <!-- Our exterior projects offering and services   -->
        <section class="my-5">
            <div class="row">
                <div class="col-md-12">
                    <p class="h3"> OUR EXTERIOR PROJECTS OFFERING </p>
                    <p>Since 1990, we have worked hard to ensure that our customers are fully satisfied with both our work ethic and finished product. As a leader in home improvement projects, we strive to exceed our customer’s expectation in all areas, including timeliness, attention to detail and our service-minded attitude. We also only want to supply you with the highest-quality products. We offer the following services:</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-group-flush">
                        <li class="list-group-item"><a href="{% url 'pages:roofs' %}" class="text-success text-decoration-none"> Roof </a> replacement & repairs</li>
                        <li class="list-group-item"> Roofing installation, including metal roofing </li>
                        <li class="list-group-item"><a href="{% url 'pages:decks' %}" class="text-success text-decoration-none"> Decks </a> & under decking</li>
                        <li class="list-group-item"><a href="{% url 'pages:fencing' %}" class="text-success text-decoration-none"> Fencing </a></li>
                        <li class="list-group-item"> Patio covers </li>
                        <li class="list-group-item"><a href="{% url 'pages:sideGutter' %}" class="text-success text-decoration-none"> Siding </a></li>
                        <li class="list-group-item"> Soffit </li>
                    </ul>
                </div>

                 <div class="col-md-6">
                    <ul class="list-group-flush">
                        <li class="list-group-item"> Fascia </li>
                        <li class="list-group-item"><a href="{% url 'pages:sideGutter' %}" class="text-success text-decoration-none"> Gutters </li>
                        <li class="list-group-item"><a href="{% url 'pages:windows_doors' %}" class="text-success text-decoration-none"> Windows & entry doors </a></li>
                        <li class="list-group-item"><a href="{% url 'pages:attic_insulation' %}" class="text-success text-decoration-none"> Attic insulation </a></li>
                        <li class="list-group-item"><a href="{% url 'pages:kitchens' %}" class="text-success text-decoration-none"> Kitchen remodels</a></li>
                        <li class="list-group-item"><a href="{% url 'pages:bathrooms' %}" class="text-success text-decoration-none"> Bathroom remodels </a></li>
                        <li class="list-group-item"> Basement finishing </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p>We are happy to discuss your upcoming project in more detail. We offer free estimates, which include coming to your home and doing an inspection.</p>
                </div>
            </div>
        </section>

        <!-- let us beautify your home -->
        <section class="my-5">
            <div class="row">
                <div class="col-md-12">
                    <p class="h3"> LET US BEAUTIFY YOUR HOME </p>
                    <p>With over 40 full-time employees and 30 part-time employees, we can handle exterior jobs of any size. Let us show you why we are a consistently top-rated company. We serve customers throughout the Greater St. Louis and Kansas City areas. Call us at <strong class="text-success">(816) 246-8589</strong> in O’Fallon, MO, or at <strong class="text-success">(636) 379-8889</strong> in Lee’s Summit, MO. You may also <a href="{% url 'pages:contact' %}" class="text-success text-decoration-none"> submit any comments or questions to us via our online form.</a></p>
                </div>
            </div>
        </section>
    </div>

{% endblock %}