{% extends '_base.html' %}

{% load static %}



{% block content  %}

    <div class="container-fluid my-5">
        <div class="row">
             <div class="col-md-12">
                 <p class="display-6 fw-bold d-flex justify-content-center"> Gallery</p>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <hr class="border border-3 border-success" style="width: 5rem;">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/deck-gallery.jpg'%}" class="ratio ratio-4-3">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/home-gallery.jpg'%}" class="ratio ratio-4-3">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/deck1-gallery.jpg'%}" class="ratio ratio-4-3">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/kitchen-gallery.jpg'%}" class="ratio ratio-4-3 ">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/roof-gallery.jpg'%}" class="ratio ratio-4-3">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/deck-gallery6.jpg'%}" class="ratio ratio-4-3">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/siding-gallery.jpg'%}" class="ratio ratio-4-3 ">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/fence-gallery.jpg'%}" class="ratio ratio-4-3">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/exterior-gallery.jpg'%}" class="ratio ratio-4-3">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/windown-gallery3.jpg'%}" class="ratio ratio-4-3 ">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/windown-gallery2.jpg'%}" class="ratio ratio-4-3">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/deck-gallery2.jpg'%}" class="ratio ratio-4-3">
            </div>
        </div>

         <div class="row mb-3">
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/fence-gallery2.jpg'%}" class="ratio ratio-4-3 ">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/deck-gallery3.jpg'%}" class="ratio ratio-4-3">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/windown-gallery.jpg'%}" class="ratio ratio-4-3">
            </div>
        </div>

         <div class="row mb-3">
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/deck-gallery5.jpg'%}" class="ratio ratio-4-3 ">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/deck-gallery4.jpg'%}" class="ratio ratio-4-3">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/entry-gallery.jpg'%}" class="ratio ratio-4-3">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/bathroom-gallery2.jpg'%}" class="ratio ratio-4-3 ">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/bathroom-gallery.jpg'%}" class="ratio ratio-4-3">
            </div>
            <div class="col-md-4 mb-3">
                <img src="{% static 'images/bathroom-gallery3.jpg'%}" class="ratio ratio-4-3">
            </div>
        </div>
    </div>

{% endblock %}