{% extends '_base.html' %}
{% load static %}

{% block title %}Home page {% endblock title %}

{% block content %}
    <!-- button on the top -->
    <section id="button_top">
        <div class="row mb-5 ">
            <div class="col-md-6 d-flex justify-content-start">
                <a href="{% url 'pages:install_midtown' %}" class="btn btn-success btn-lg">Install at Midtown</a>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <a href="{% url 'pages:work_midtown' %}" class="btn btn-success btn-lg">Apply at Midtown</a>
            </div>
        </div>
    </section>

    <!-- local family-owned hero -->
    <section id="Family_owed_hero">
        <div class="row heroimages">
            <div class="px-4 py-5 my-5 text-center">
                <img src="https://lirp-cdn.multiscreensite.com/c6745897/dms3rep/multi/opt/midtownimage+%281%29-1920w.jpeg" alt="Midtown Home Improvements Logo" width="150" height="150">
                <h1 class="display-5 fw-bold"> LOCAL, FAMILY-OWNED AND OPERATED COMPANY </h1>
                <div class="col-lg-11 mx-auto">
                    <p class="lead mb-4"> Since 1990, Midtown Home Improvements has been your local, family-owned and -operated home remodeling company, offering everything from roof replacement to window installation to kitchen and bathroom remodeling services. </p>
                    <div class="d-grid d-ms-flex justify-content-center">
                        <button class="btn btn-success btn-lg px-5" type="button">More about</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Remodeling Services -->
    <section class="my-5" id="remodeling_services">
        <div class="row">
            <div class="col-md-12">
                <p class="display-6 text-black">OUR REMODELING SERVICES</p>
                <p class="my-3">We know there are a lot of contractors around, but only a few that you can truly trust. At Midtown Home Improvements, we’re proud to continually be the general contractor to whom our customers turn. We offer home remodeling services, including the following:</p>
            </div>
            <div class="col-md-6 d-flex justify-content-start my-3">
                <div class="card" style="width: 25rem;">
                    <div class="card-header h6 text-success d-flex justify-content-center">
                        EXTERIOR SERVICES
                    </div>
                    <div class="card-body bg-success">
                        <p><a href="{% url 'pages:decks' %}" class="text-decoration-none text-white"> Decks </a></p>
                        <p><a href="{% url 'pages:fencing' %}" class="text-decoration-none text-white"> Fencing </a></p>
                        <p><a href="{% url 'pages:roofs' %}" class="text-decoration-none text-white"><i class="fas fa-home me-3"></i> Roofing </a></p>
                        <p><a href="{% url 'pages:sideGutter' %}" class="text-decoration-none text-white"><i class="fas fa-bars me-3"></i> Siding </a></p>
                        <p><a href="{% url 'pages:windows_doors' %}" class="text-decoration-none text-white"><i class="fas fa-city me-3"></i> Windows & Doors </a></p>
                        <p><a href="#" class="text-decoration-none text-white">Soffit/fascia </a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-end my-3">
                <div class="card" style="width: 25rem;">
                    <div class="card-header h6 text-success d-flex justify-content-center">
                        INTERIOR SERVICES
                    </div>
                    <div class="card-body bg-success">
                        <p><a href="{% url 'pages:kitchens' %}" class="text-decoration-none text-white"><i class="fas fa-hammer"></i> Kitchen Remodeling </a></p>
                        <p><a href="{% url 'pages:bathrooms' %}" class="text-decoration-none text-white"><i class="fas fa-bath me-3"></i> Bathroom Remodeling </a></p>
                        <p><a href="{% url 'pages:attic_insulation' %}" class="text-decoration-none text-white"> Attic Insulation </a></p>
                        <p class="text-white"><i class="fas fa-home me-3"></i> Sunrooms </p>
                        <p><a href="{% url 'pages:interior' %}" class="text-decoration-none text-white"> Interior Remodeling </a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <p>We only install high-quality materials and work hard to ensure that your desired design becomes a reality. We are proud to serve residents throughout St. Louis, Kansas City, Chicago and Nashville greater metro areas.</p>
            </div>
        </div>
    </section>

    <!-- about midtown home improvements -->
    <section class="my-5">
       <div class="row mb-4">
           <div class="col-md-12">
               <p class="display-6 text-black d-flex justify-content-center mb-4"> ABOUT MIDTOWN HOME IMPROVEMENTS </p>
               <p> We are proud to service customers throughout the greater St. Louis, Kansas City, and Nashville metro areas. As an industry leader in home improvement, we have received numerous recognitions for our work. We know that our customers are the reason that we’re in business, and we strive to exceed their expectations every time. We have 100 full-time and 50 part-time employees, which means that we can take on any size job, no matter how big or small.</p>
               <div class="d-flex justify-content-md-center">
                    <a href="{% url 'pages:about' %}" class="btn btn-success btn-lg" style="width: 18rem;">READ MORE</a>
               </div>
           </div>
       </div>
    </section>

    <!-- local, family owned and operated home -->
    <section class="my-5">
    <div class="row">
        <div class="col-md-12">
            <p class="display-6 text-black d-flex justify-content-center mt-3"> LOCAL, FAMILY-OWNED AND OPERATED HOME <br/>REMODELING COMPANY</p>
            <hr class="border border-success border-3">
            <div class="col-md-12">
                <p class="display-6 text-black d-flex justify-content-center"> SERVING HOMEOWNERS SINCE 1990 </p>
             <p> Midtown Home Improvements is proud to be a local, family-owned and -operated home remodeling company serving residents throughout the Greater St. Louis, Kansas City, and Nashville metro areas. With 30 years of experience in the remodeling business, we can help you achieve all your home improvement dreams – whether it’s a siding, deck, roofing or windows project. </p>
             <p> We have been recognized by the St. Louis Post-Dispatch as one of the top places to work, and we have been consistently recognized by Qualified Remodeler magazine as one of the country’s Top 500 Remodelers. Customers select us for their remodeling projects because we offer true value for your money, and we provide excellent customer service. We are an industry leader because we seek to exceed our customers’ expectations in all areas, including timeliness, attention to detail and service-minded attitude. </p>
            </div>
        </div>
    </div>
    </section>

    <!-- c2a see how we can help you and button -->
    <section>
        <div class="row align-items-center py-5">
            <div class="col-md-9 text-start">
                <h3 class="fw-bold mb-1"> SEE HOW WE CAN HELP YOU </h3>
                <p class="pe-5"> Are you ready to get your home improvement project started? We are dedicated to ensuring that your project is a success.</p>

            </div>
            <div class="col-md-3 mx-auto">
                <a class="btn btn-success" href="#" role="button"> Get Started </a>
            </div>
        </div>
    </section>

    <!-- why choose us -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
               <p class="display-6 d-flex justify-content-center">WHY CHOOSE US</p>
                <div class="d-flex justify-content-center mb-3">
                    <hr class="border border-3 border-success" style="width: 5rem;">
                </div>
            </div>
            <div class="col-md-4">
                <i class="fas fa-home fa-lg d-flex justify-content-center mb-3"></i>
                <p class="text-success d-flex justify-content-center"> HISTORY </p>
                <p class="d-flex justify-content-center">Midtown Home Improvements is a local, family-owned and -operated company that has been in business since 1990.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-hands-helping fa-lg d-flex justify-content-center mb-3"></i>
                <p class="text-success d-flex justify-content-center"> FULL SERVICE </p>
                <p>We can help you achieve all your home improvement dreams, from exterior projects to a total interior renovation.</p>
            </div>
          <div class="col-md-4">
                <i class="fas fa-book-reader fa-lg d-flex justify-content-center mb-3"></i>
                <p class="text-success d-flex justify-content-center"> DEDICATION </p>
                <p class="d-flex justify-content-center">We seek to exceed your expectations of timeliness, attention to detail and service-minded attitude.</p>
          </div>
            <div class="col-md-4">
                <i class="fas fa-business-time fa-lg d-flex justify-content-center mb-3"></i>
                <p class="text-success d-flex justify-content-center"> VALUE </p>
                <p class="d-flex justify-content-center"> It is our commitment to always provide value for your money, ensuring that your investment is worth the expense.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-smile fa-lg d-flex justify-content-center mb-3"></i>
                <p class="text-success d-flex justify-content-center">SATISFACTION</p>
                <p class="d-flex justify-content-center">Read our reviews! Customers love our quality products, superior workmanship and competitive pricing.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-award fa-lg d-flex justify-content-center mb-3"></i>
                <p class="text-success d-flex justify-content-center">AWARDS</p>
                <p class="d-flex justify-content-center">As an industry leader in home improvement, we have received numerous recognitions for our work.</p>
            </div>
        </div>
    </section>

    <!-- REMODELING PROCESS -->
    <section class="my-5" id="remodeling_process">
        <div class="row">
            <div class="col-md-12">
                <p class="display-6 d-flex justify-content-center">REMODELING PROCESS</p>
            </div>
            <div class="col-md-12">
                <ol class="list-group-flush list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"> DECIDE WHAT YOUR NEXT PROJECT WILL BE </div>
                            <p class="lead"> Midtown Home Improvements offers a full slate of remodeling services, both exterior and
                            interior, to help you turn your home into your dream home.</p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"> SCHEDULE A FREE ESTIMATE </div>
                            <p class="lead"> Call us or submit an online request for a free, no-obligation estimate for the project you have
                            in mind. We are the contractor you can trust to get the job done on time and within budget. </p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"> MEET YOUR PROJECT MANAGER </div>
                            <p class="lead"> Once you decide to proceed, we will assign an experienced project manager to you. Your project
                            manager can help you </p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"> RELAX WHILE WE INSTALL YOUR CUSTOM PROJECT </div>
                            <p class="lead"> Rest assured you chose the best! While our team works tirelessly to ensure your house is
                            transformed into your dream home, you can enjoy your time however you choose. </p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"> ENJOY YOUR CUSTOM REMODEL </div>
                            <p class="lead"> We know you will love your new project! If any issues arise after completion, don’t hesitate to
                            call us for anything. </p>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"> MEET WITH A TEAM MEMBER </div>
                            <p class="lead"> A member of our production team will follow up to double-check all measurements and orders. This
                            individual can answer any other questions you may have about how your project will progress. </p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </section>
{% endblock content %}















