{% extends '_base.html' %}
{% load static %}

{% block title %}Home page {% endblock title %}

{% block content %}
    <!-- local family-owned hero -->
    <section id="Family_owed_hero">
        <div class="container-fluid clip-home">
            <div class="row bg-dark bg-gradient text-light">
                <div class="px-4 py-3 my-5 text-center">
                    <img src="{% static 'images/small_white_logo.png' %}" alt="Midtown Home Improvements Logo" width="250px" />
                    <h1 class="display-5 fw-bold my-4">Improve Your <span id="typed"></span></h1>
                    <div class="col-lg-7 mx-auto">
                        <p class="lead mb-4">We've been honored to help people improve their homes and lives for the past 30+ years. </p>
                        <div class="d-grid d-ms-flex justify-content-center">
                            <button class="btn btn-green text-light btn-lg px-5" type="button">Learn More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN CONTAINER -->
    <div class="container my-5">

        <!-- buttons on the top -->
        <div class="row">
            <div class="col-md-6 my-3">
                <a href="{% url 'pages:install_midtown' %}" class="btn btn-green text-light btn-lg">Install at Midtown</a>
            </div>
            <div class="col-md-6 my-3">
                <a href="{% url 'pages:work_midtown' %}" class="btn btn-green text-light btn-lg float-end">Apply at Midtown</a>
            </div>
        </div>

        <!-- Remodeling Services -->
        <section class="my-5">
            <div class="row mb-5 gx-5">
                <div class="col-md-12">
                    <p class="display-6 text-black">OUR REMODELING SERVICES</p>
                    <p class="my-3">We know there are a lot of contractors around, but only a few that you can truly trust. At Midtown Home Improvements, we’re proud to continually be the general contractor to whom our customers turn. We offer home remodeling services, including the following:</p>
                </div>
                <div class="col-md-6 my-3">
                    <div class="card">
                        <div class="card-header h6 text-success d-flex justify-content-center">
                            EXTERIOR SERVICES
                        </div>
                        <div class="card-body bg-green">
                            <div class="list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action bg-green text-light">Decks</a>
                                <a href="#" class="list-group-item list-group-item-action bg-green text-light">Fencing</a>
                                <a href="#" class="list-group-item list-group-item-action bg-green text-light">Roofing</a>
                                <a href="#" class="list-group-item list-group-item-action bg-green text-light">Siding</a>
                                <a href="#" class="list-group-item list-group-item-action bg-green text-light">Windows & Doors</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-3">
                    <div class="card">
                        <div class="card-header h6 text-success d-flex justify-content-center">
                            INTERIOR SERVICES
                        </div>
                        <div class="card-body bg-green">
                            <div class="list-group-flush">
                                <a href="{% url 'pages:kitchens' %}" class="list-group-item list-group-item-action bg-green text-light">Kitchen Remodeling</a>
                                <a href="{% url 'pages:bathrooms' %}" class="list-group-item list-group-item-action bg-green text-light">Bathroom Remodeling</a>
                                <a href="{% url 'pages:attic_insulation' %}" class="list-group-item list-group-item-action bg-green text-light">Attic Insulation</a>
                                <a href="#" class="list-group-item list-group-item-action bg-green text-light">Sunrooms</a>
                                <a href="#" class="list-group-item list-group-item-action bg-green text-light">Screenrooms</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <p>We only install high-quality materials and work hard to ensure that your desired design becomes a reality. We are proud to serve residents throughout St. Louis, Kansas City, Chicago and Nashville greater metro areas.</p>
                </div>
            </div>
        </section>



        <!-- CALL 2 ACTION -->
        <section>
            <div class="row align-items-center p-5 bg-dark bg-gradient text-ghost rounded-3">
                <div class="col-md-9 text-start">
                    <h3 class="fw-bold mb-1">SEE HOW WE CAN HELP YOU </h3>
                    <p class="pe-5"> Ready to get your project started? We are dedicated to ensuring your project is a success.</p>

                </div>
                <div class="col-md-3 mx-auto">
                    <a class="btn btn-success btn-lg" href="#" role="button">Get Started</a>
                </div>
            </div>
        </section>

        <!-- why choose us -->
        <section class="my-5">
            <div class="row">
                <div class="col-md-12">
                    <p class="display-6 d-flex justify-content-center">WHY CHOOSE US</p>
                    <div class="d-flex justify-content-center mb-3">
                        <hr class="border border-3 border-success" style="width: 5rem;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-green text-light">
                        <div class="card-body">
                            <i class="fas fa-home fa-lg d-flex justify-content-center mb-3"></i>
                            <p class="card-title text-ghost fw-bold fs-5 d-flex justify-content-center">HISTORY</p>
                            <p class="d-flex justify-content-center">Since 1990, we've been a local, family owned & operated company</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark text-light">
                        <div class="card-body">
                            <i class="fas fa-hands-helping fa-lg d-flex justify-content-center mb-3"></i>
                            <p class="card-title text-uppercase text-ghost fw-bold fs-5 d-flex justify-content-center">Full Service</p>
                            <p>You want achieve all your home improvement dreams. We can help.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-green text-light">
                        <div class="card-body">
                            <i class="fas fa-book-reader fa-lg d-flex justify-content-center mb-3"></i>
                            <p class="text-ghost fw-bold fs-5 d-flex justify-content-center">DEDICATION</p>
                            <p class="d-flex justify-content-center">We strive to exceed your expectations with our service-oriented attitude.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-4">
                    <div class="card bg-dark text-light">
                        <div class="card-body">
                            <i class="fas fa-business-time fa-lg d-flex justify-content-center mb-3"></i>
                            <div class="card-title text-ghost fw-bold fs-5 d-flex justify-content-center">VALUE</div>
                            <p class="d-flex justify-content-center">It is our commitment to always provide value for your money, ensuring that your investment is worth the expense.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-green text-light">
                        <div class="card-body">
                            <i class="fas fa-smile fa-lg d-flex justify-content-center mb-3"></i>
                            <p class="text-ghost fw-bold fs-5 d-flex justify-content-center">Satisfaction</p>
                            <p class="d-flex justify-content-center">Read our reviews! Customers love our quality products, superior workmanship and competitive pricing.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark text-light">
                        <div class="card-body">
                            <i class="fas fa-award fa-lg d-flex justify-content-center mb-3"></i>
                            <p class="text-ghost fw-bold fs-5 d-flex justify-content-center">Awards</p>
                            <p class="d-flex justify-content-center">As an industry leader in home improvement, we have received numerous recognitions for our work.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- REMODELING PROCESS -->
        <section class="my-5" id="remodeling_process">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-uppercase display-6 d-flex justify-content-center">Our Process</p>
                </div>
                <div class="col-md-12">
                    <ol class="list-group-flush list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"> DECIDE WHAT YOUR NEXT PROJECT WILL BE </div>
                                <p class="lead"> Midtown Home Improvements offers a full slate of remodeling services, both exterior and
                                    interior, to help you turn your home into your dream home.</p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"> SCHEDULE A FREE ESTIMATE </div>
                                <p class="lead"> Call us or submit an online request for a free, no-obligation estimate for the project you have
                                    in mind. We are the contractor you can trust to get the job done on time and within budget. </p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"> MEET YOUR PROJECT MANAGER </div>
                                <p class="lead"> Once you decide to proceed, we will assign an experienced project manager to you. Your project
                                    manager can help you </p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"> RELAX WHILE WE INSTALL YOUR CUSTOM PROJECT </div>
                                <p class="lead"> Rest assured you chose the best! While our team works tirelessly to ensure your house is
                                    transformed into your dream home, you can enjoy your time however you choose. </p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"> ENJOY YOUR CUSTOM REMODEL </div>
                                <p class="lead"> We know you will love your new project! If any issues arise after completion, don’t hesitate to
                                    call us for anything. </p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"> MEET WITH A TEAM MEMBER </div>
                                <p class="lead"> A member of our production team will follow up to double-check all measurements and orders. This
                                    individual can answer any other questions you may have about how your project will progress. </p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}


{% block javascript %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        let typed_options = {
            strings: ['Deck^500', 'Fence^500', 'Bathroom^500', 'Home^500', 'Life^1500'],
            typeSpeed: 40,
            loop: true,
        }

        let typed = new Typed('#typed', typed_options);
    </script>
{% endblock %}











