{% extends '_base.html' %}
{% load static %}

{% block title %}Home page {% endblock title %}

{% block content %}
        <div class="row mb-5">
            <div class="col-md-6 d-flex justify-content-start">
                <a class="btn btn-success btn-lg">Install at Midtown</a>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <a class="btn btn-success btn-lg">Apply at Midtown</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'images/fence.jpg'%}" class="card-img-top p-4" alt="house with fence">
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-md-6 d-flex justify-content-start">
                <div class="card" style="width: 25rem;">
                    <div class="card-header h6 text-success d-flex justify-content-center">
                        EXTERIOR OPTIONS
                    </div>
                    <div class="card-body bg-success">
                        <p><a href="{% url 'pages:decks' %}" class="text-decoration-none text-white"> Decks </a></p>
                        <p><a href="{% url 'pages:fencing' %}" class="text-decoration-none text-white">Fencing</a></p>
                        <p><a href="{% url 'pages:roofs' %}" class="text-decoration-none text-white"> Roofing </a></p>
                        <p><a href="{% url 'pages:sideGutter' %}" class="text-decoration-none text-white"> Siding </a></p>
                        <p class="text-white"> Windows & Doors </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-end">
                <div class="card" style="width: 25rem;">
                    <div class="card-header h6 text-success d-flex justify-content-center">
                        INTERIOR OPTIONS
                    </div>
                    <div class="card-body bg-success">
                        <p class="text-white"> Kitchen Remodeling </p>
                        <p class="text-white"> Bathroom Remodeling </p>
                        <p class="text-white"> Attic Insulation </p>
                        <p class="text-white"> Sunrooms </p>
                    </div>
                </div>
            </div>
        </div>
       <div class="row mb-4">
           <div class="col-md-12">
               <p class="display-6 text-black d-flex justify-content-center mb-4"> ABOUT MIDTOWN HOME IMPROVEMENTS </p>
               <p>Since 1990, Midtown Home Improvements has been your local, family-owned and -operated home remodeling company, offering everything from roof replacement to window installation to kitchen and bathroom remodeling services. We are proud to service customers throughout the greater St. Louis, Kansas City, and Nashville metro areas. As an industry leader in home improvement, we have received numerous recognitions for our work. We know that our customers are the reason that we’re in business, and we strive to exceed their expectations every time. We have 100 full-time and 50 part-time employees, which means that we can take on any size job, no matter how big or small.</p>
               <div class="d-flex justify-content-md-center">
                    <a class="btn btn-success btn-lg" style="width: 18rem;">READ MORE</a>
               </div>
           </div>
       </div>

    <div class="row">
        <div class="col-md-12">
            <p class="display-6 text-black d-flex justify-content-center"> LOCAL, FAMILY-OWNED AND OPERATED HOME <br/>REMODELING COMPANY</p>
            <hr>
            <div class="col-md-12">
                <p class="display-6 text-black d-flex justify-content-center">SERVING HOMEOWNERS SINCE 1990</p>
             <p>Midtown Home Improvements is proud to be a local, family-owned and -operated home remodeling company serving residents throughout the Greater St. Louis, Kansas City, and Nashville metro areas. With 30 years of experience in the remodeling business, we can help you achieve all your home improvement dreams – whether it’s a siding, deck, roofing or windows project.</p>
             <p>We have been recognized by the St. Louis Post-Dispatch as one of the top places to work, and we have been consistently recognized by Qualified Remodeler magazine as one of the country’s Top 500 Remodelers. Customers select us for their remodeling projects because we offer true value for your money, and we provide excellent customer service. We are an industry leader because we seek to exceed our customers’ expectations in all areas, including timeliness, attention to detail and service-minded attitude.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="display-6 text-black">OUR REMODELING SERVICES</p>
            <p>We know there are a lot of contractors around, but only a few that you can truly trust. At Midtown Home Improvements, we’re proud to continually be the general contractor to whom our customers turn. We offer home remodeling services, including the following:</p>
        </div>
            <div class="col-md-6">
                <ul class="list-group-flush">
                    <li class="list-group-item border-0"> <i class="fas fa-circle fa-sm"></i> Roof </li>
                    <li class="list-group-item border-0"><i class="fas fa-circle fa-sm"></i><a href="{% url 'pages:sideGutter' %}" class="text-success text-decoration-none"> Siding </a></li>
                    <li class="list-group-item border-0"><i class="fas fa-circle fa-sm"></i><a href="{% url 'pages:fencing' %}" class="text-success text-decoration-none"> Fencing </a></li>
                    <li class="list-group-item border-0"><i class="fas fa-circle fa-sm"></i><a href="{% url 'pages:decks' %}" class="text-success text-decoration-none"> Decking </a></li>
                    <li class="list-group-item border-0"><i class="fas fa-circle fa-sm"></i> Soffit/fascia </li>
                    <li class="list-group-item border-0"><i class="fas fa-circle fa-sm"></i><a href="{% url 'pages:windows_doors' %}" class="text-success text-decoration-none"> Windows </a></li>
                </ul>
            </div>
        <div class="col-md-6">
            <ul class="list-group-flush">
                <li class="list-group-item border-0"><i class="fas fa-circle fa-sm"></i> Doors </li>
                <li class="list-group-item border-0"><i class="fas fa-circle fa-sm"></i> Gutters </li>
                <li class="list-group-item border-0"><i class="fas fa-circle fa-sm"></i><a href="{% url 'pages:interior' %}" class="text-success text-decoration-none"> Interior Remodeling </a></li>
                <li class="list-group-item border-0"><i class="fas fa-circle fa-sm"></i> Kitchen & Bathroom Remodels </li>
                <li class="list-group-item border-0"><i class="fas fa-circle fa-sm"></i> Attic Insulation </li>
                <li class="list-group-item border-0"><i class="fas fa-circle fa-sm"></i> Sunrooms </li>
            </ul>
        </div>
            <div class="col-md-12">
                We only install high-quality materials and work hard to ensure that your desired design becomes a reality. We are proud to serve residents throughout St. Louis, Kansas City, Chicago and Nashville greater metro areas.
            </div>
    </div>

    <div class="row">
        <div class="col-md-12 p-4">
            <p class="display-6 text-black">SEE HOW WE CAN HELP YOU</p>
            <p>Are you ready to get your home improvement project started? We are dedicated to ensuring that your project is a success.<a href="{% url 'pages:contact' %}" class="text-success text-decoration-none"> Fill out our online form</a>, or call us at <strong class="text-success">(636) 379-8889</strong> in Wentzville, MO, or at <strong class="text-success">(816) 246-8589</strong> in Lee’s Summit, MO or <strong class="text-success">(615) 915-1285</strong> in Nashville, TN. We are excited to learn about your project and discover how we can make your vision a reality.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
           <p class="display-6 d-flex justify-content-center">WHY CHOOSE US</p>
            <div class="d-flex justify-content-center">
                <hr class="border border-3 border-success" style="width: 5rem;">
            </div>
        </div>
        <div class="col-md-4">
            <i class="fas fa-home fa-lg d-flex justify-content-center mb-3"></i>
            <p class="text-success d-flex justify-content-center">History</p>
            <p class="d-flex justify-content-center">Midtown Home Improvements is a local, family-owned and -operated company that has been in business since 1990.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-blog fa-lg d-flex justify-content-center mb-3"></i>
            <p class="text-success d-flex justify-content-center">FULL SERVICE</p>
            <p>We can help you achieve all your home improvement dreams, from exterior projects to a total interior renovation.</p>
        </div>
      <div class="col-md-4">
            <i class="fas fa-home fa-lg d-flex justify-content-center mb-3"></i>
            <p class="text-success d-flex justify-content-center">DEDICATION</p>
            <p class="d-flex justify-content-center">We seek to exceed your expectations of timeliness, attention to detail and service-minded attitude.</p>
      </div>
        <div class="col-md-4">
            <i class="fas fa-home fa-lg d-flex justify-content-center mb-3"></i>
            <p class="text-success d-flex justify-content-center">VALUE</p>
            <p class="d-flex justify-content-center">It is our commitment to always provide value for your money, ensuring that your investment is worth the expense.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-home fa-lg d-flex justify-content-center mb-3"></i>
            <p class="text-success d-flex justify-content-center">SATISFACTION</p>
            <p class="d-flex justify-content-center">Read our reviews! Customers love our quality products, superior workmanship and competitive pricing.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-home fa-lg d-flex justify-content-center mb-3"></i>
            <p class="text-success d-flex justify-content-center">AWARDS</p>
            <p class="d-flex justify-content-center">As an industry leader in home improvement, we have received numerous recognitions for our work.</p>
        </div>
    </div>



    <div class="row imageshomepage">
        <div class="col-md-12">
            <p class="display-6 d-flex justify-content-center">REMODELING PROCESS</p>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card bg-success text-light " style="height: 45vh;">
                <div class="card-header h6 d-flex justify-content-center">
                    <i class="far fa-clock pe-3"></i>
                    DECIDE WHAT YOUR NEXT PROJECT WILL BE
                </div>
                <div class="card-body">
                  Midtown Home Improvements offers a full slate of remodeling services, both exterior and interior, to help you turn your home into your dream home.
                </div>
            </div>
        </div>
         <div class="col-md-4 mb-4">
            <div class="card bg-success text-light" style="height: 45vh;">
                <div class="card-header h6 d-flex justify-content-center">
                    <i class="far fa-clock pe-3"></i>
                    SCHEDULE A FREE ESTIMATE
                </div>
                <div class="card-body">
                  Call us or submit an online request for a free, no-obligation estimate for the project you have in mind. We are the contractor you can trust to get the job done on time and within budget.
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-success text-light" style="height: 45vh;">
                <div class="card-header h6 d-flex justify-content-center">
                    <i class="far fa-clock pe-3"></i>
                    MEET YOUR PROJECT MANAGER
                </div>
                <div class="card-body">
                   Once you decide to proceed, we will assign an experienced project manager to you. Your project manager can help you:
                    <ul class="list-group-flush">
                        <li class="list-group-item border-0 bg-success text-white"><i class="fas fa-circle fa-sm"></i> Become better educated about the industry and available products. </li>
                        <li class="list-group-item border-0 bg-success text-white"><i class="fas fa-circle fa-sm"></i> Select your preferred colors and designs. </li>
                        <li class="list-group-item border-0 bg-success text-white"><i class="fas fa-circle fa-sm"></i> Receive an exact price.</li>
                     </ul>
                </div>
            </div>
        </div>

         <div class="col-md-4 mb-4">
            <div class="card bg-success text-light" style="height: 45vh;">
                <div class="card-header h6 d-flex justify-content-center">
                    <i class="far fa-clock pe-3"></i>
                    RELAX WHILE WE INSTALL YOUR CUSTOM PROJECT
                </div>
                <div class="card-body">
                  Rest assured you chose the best! While our team works tirelessly to ensure your house is transformed into your dream home, you can enjoy your time however you choose.
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-success text-light" style="height: 45vh;">
                <div class="card-header h6 d-flex justify-content-center">
                    <i class="far fa-clock pe-3"></i>
                    ENJOY YOUR CUSTOM REMODEL
                </div>
                <div class="card-body">
                  We know you will love your new project! If any issues arise after completion, don’t hesitate to call us for anything.
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card bg-success text-light" style="height: 45vh;">
                <div class="card-header h6 d-flex justify-content-center">
                    <i class="far fa-clock pe-3"></i>
                    MEET WITH A TEAM MEMBER
                </div>
                <div class="card-body">
                  A member of our production team will follow up to double-check all measurements and orders. This individual can answer any other questions you may have about how your project will progress.
                </div>
            </div>
        </div>
    </div>
{% endblock content %}















