{% extends '_base.html' %}
{% load static%}

{% block title %} Interior Page {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p class="display-6">FIRST-RATE INTERIOR HOME REMODELING SERVICES</p>
            <div class="col-md-12 d-flex justify-content-center">
                <hr class="border border-3 border-success" style="width:5rem;">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="h2">YOUR LOCAL KITCHEN & BATHROOM REMODELING CONTRACTOR</p>
            <img src="{% static 'images/fence.jpg'%}" class="card-img-top p-4" alt="fence">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Midtown Home Improvements is a local, family-owned and -operated company founded in 1990. In that time, we’ve created award-winning interior designs using customized software. Our free individualized designs make it easy to create interior spaces that you will completely love! We offer many interior services, including the following:</p>
        </div>
            <div class="col-md-6">
                <ul class="list-group-flush">
                    <li class="list-group-item"><a href="#" class="text-decoration-none text-success">Kitchen </a> & bathroom design</li>
                    <li class="list-group-item"> Bathroom master suites </li>
                    <li class="list-group-item"> Granite & stone countertops </li>
                    <li class="list-group-item"> Kitchen cabinetry </li>
                    <li class="list-group-item"> Sinks & faucets </li>
                    <li class="list-group-item"> Appliances </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group-flush">
                    <li class="list-group-item"> Tile backsplash </li>
                    <li class="list-group-item"> Flooring </li>
                    <li class="list-group-item"> Lighting </li>
                    <li class="list-group-item"> Ventilation </li>
                    <li class="list-group-item">eShield™ <a href="#" class="text-success text-decoration-none">attic insulation </a></li>
                </ul>
            </div>
        <div class="col-md-12">
            <p>We have highly trained project managers and installers to ensure that your project is done perfectly every time. We can do full or partial remodels, and we coordinate all projects on-site. We can create computerized in-home designs to ensure that our designers are fully capturing your vision.</p>
        </div>
    </div>

    <div class="row">
        <col-md-12>
            <p class="h2">WHAT SETS US APART</p>
            <p>Midtown Home Improvements has nearly 30 years of experience creating dream homes for clients. All our employees are dedicated to ensuring that your vision for your home becomes a reality. We have dedicated, job-specific installers who are experts in their fields, including skilled designers. We coordinate all projects via on-site production management.</p>
            <p>Midtown Home Improvements is client-centered, and we only use quality name-brand products. We offer comprehensive labor and material warranties, plus a Project Price Lock Guarantee. We can handle a full-gut or partial remodel. See how we can assist you by scheduling a free estimate.</p>
        </col-md-12>
    </div>

<div class="row">
    <div class="col-md-12">
        <p class="h2">LAUNCH YOUR INTERIOR HOME REMODELING PROJECT</p>
        <p>Midtown Home Improvements has been proudly serving our communities as local interior, kitchen and bathroom remodeling contractors for decades.</p>
    </div>
</div>

{% endblock %}