{% extends '_base.html' %}
{% load static %}

{% block content %}
    <!-- title STL interior home remodeling -->
    <section>
        <div class="row">
            <div class="col-md-12">
                <p class="d-flex justify-content-center display-6">ST. LOUIS INTERIOR HOME <br> REMODELING CONTRACTORS </p>
                <div class="col-md-12 d-flex justify-content-center">
                    <hr class="border border-3 border-success" style="width:5rem;">
                </div>
            </div>
        </div>
    </section>

    <!-- your local kitchen renovation experts -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12 h3">
                YOUR LOCAL KITCHEN RENOVATION EXPERTS
            </div>
            <div class="col-md-12">
                <img src="{% static 'images/kitchens.jpg' %}" class="card-img p-4" alt="kitchen">
                <p> Midtown Home Improvements will turn your outdated kitchen into the chef’s kitchen you’ve always wanted. Kitchen remodeling is both a science and art … and a lot of listening. Taking your personality and infusing it into the design is what sets Midtown apart from the rest. We want your kitchen to look and feel as individual as you!</p>
                <p> Helping you to find your style for these spaces can be very challenging – it takes not only strong designers, but a company that works well as a team. Midtown takes pride in achieving your desired design and exceeding all expectations. Your kitchen gets a lot of traffic, but it’s more than simply where meals are prepared. It’s also a gathering place for your family. You need to ensure that these spaces are both functional and beautiful – and truly match your personality and specific needs. </p>
            </div>
        </div>
    </section>

    <!-- Our kitchen remodeling services -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="h3"> OUR EXPERT KITCHEN REMODELING SERVICES </p>
            </div>
            <div class="col-md-12">
                <p> Midtown Home Improvements is your single source for interior and kitchen renovation services. We can handle any upcoming interior project, including: </p>
            </div>
            <div class="col-md-12">
                <ul class="list-group-flush">
                    <li class="list-group-item"><strong> Kitchen design: </strong> With computerized in-home design capabilities, we can make your dream a reality. </li>
                    <li class="list-group-item"><strong> Cabinet installations: </strong> Custom cabinets to fit any style or budget. </li>
                    <li class="list-group-item"><strong> Tile backsplash installation: </strong> Combining beauty and function to make a statement. </li>
                    <li class="list-group-item"><strong> Sinks & faucets: </strong> Get the best fixtures within your budget. </li>
                    <li class="list-group-item"><strong> Appliances: </strong> We install high-efficiency appliances that will seamlessly match your home.</li>
                    <li class="list-group-item"><strong> AFlooring: </strong> Vinyl, laminate, heated tiles and hardwood. </li>
                    <li class="list-group-item"><strong> Lighting: </strong> Including under-cabinet lighting.</li>
                    <li class="list-group-item"><strong> Ventilation: </strong> Including stylized new hoods. </li>
                </ul>
            </div>
        </div>
    </section>

        <!--Start improving your space today -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="h3 d-flex justify-content-center"> START IMPROVING YOUR SPACE TODAY </p>
                <p> With one easy phone call, Midtown Home Improvements can assist you with a variety of interior projects, including full or partial remodels. On staff, we have expert craftsmen, skilled designers and installers. We offer top-quality, brand-name products, and we coordinate all projects on-site. We are client-centered and provide comprehensive labor and material warranties.  </p>
            </div>
        </div>
    </section>

{% endblock %}