{% extends '_base.html' %}
{% load static  %}

{% block content %}

    <div class="container my-5">
    <div class="row">
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/-fUqI2jARf4" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
         <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/AEdzeMmdG0Y" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/P3EhdCV2uoc" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/5kEwWfxBhsQ" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/kGrYoyng_jI" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/8fQlnRn98Vs" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
         <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/pz7AxvHwc1k" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/4cUGNvHyuXw" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/E8nyDqHVaEU" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/gFnmO8exG74" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/auUfHL9VvjQ" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/KwTx2JrOfJs" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/rhWIwxvdnV4" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/AE_6l7VGrnE" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/q86T4RaMR3A" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/c8aQCO22D_4" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12 p-3">
            <div class="ratio ratio-21x9">
                <iframe src="https://www.youtube.com/embed/tLfICt9DaJI" title="YouTube video player" allowfullscreen></iframe>
            </div>
        </div>

    </div>

    </div>

{% endblock %}