{% extends '_base.html' %}
{% load static %}

{% block content %}
    <!--top title Premier local roofer -->
    <section>
        <div class="row">
            <div class="col-md-12">
                <p class="display-6 d-flex justify-content-center"> PREMIER LOCAL ROOFER OFFERING <br> ROOF REPLACEMENT </p>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <hr class="border border-3 border-success" style="width:5rem;">
            </div>
        </div>
    </section>

<!-- IS your home in need and images -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="h3"> IS YOUR HOME IN NEED OF A NEW ROOF? WE CAN HELP! </p>
            </div>
            <div class="col-md-12">
                <img src="{% static 'images/roof.jpg' %}" class="card-img p-4" alt="roofs">
            </div>
            <div class="col-md-12">
                <p> Just like people, asphalt shingles gradually age with the passage of time. Signs of this aging process may appear as early as the first couple of years during what is often called the Curing Phase. At first, you may notice small surface cracks or a few small blisters. These changes will not affect the ability of the asphalt shingles to protect your roof and are an anticipated part of the aging process. </p>
                <p> Next is the Stable Phase, in which signs of aging will slow down dramatically. The duration of the stable phase may last 20 to 30 years, but is dependent on many factors, including the construction of the asphalt shingles, the condition of your roof and roofing ventilation, roof slope, location, materials, design and underlayment, as well as the workmanship of your roofing contractor. </p>
                <p> Near the end of the expected life of asphalt shingles, the aging process begins to speed up. This is what is called the Final Phase, during which most homeowners start to think about replacing their asphalt shingles. You may experience the following </p>
            </div>
        </div>
    </section>

    <!-- curling, surface and blisters -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="h4"> CURLING </p>
                <p> One of the things you may notice is a slight curling of the shingles along the bottom edge, particularly during cold weather. This is a normal occurrence of asphalt shingles and results from the natural loss of the oils from the asphalt covering the felt. As the asphalt loses its oil, it slowly becomes more rigid and may shrink at a quicker rate than the felt. </p>
                <p class="h4"> SURFACE CRACKING</p>
                <p> Just like skin that has been exposed to the scorching heat of the sun, the surface of asphalt shingles reacts in a similar fashion. Like your skin, asphalt shingles may develop small surface cracks. This is a result of asphalt shingles becoming more brittle over time. Thermal shock and deck movement may also increase the occurrence of surface cracking. </p>
                <p class="h4"> BLISTERS </p>
                <p> As asphalt shingles age, large bubble-like blisters may appear on the surface, some as large as a quarter. They may be open, exposing the asphalt, or closed. Blisters are more likely to appear when there is inadequate ventilation or in areas where tree sap drips onto the shingles. Small “rash” blisters do not affect the performance of the shingles. </p>
            </div>
        </div>
    </section>

    <!-- roofing troubles? -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="h3"> ROOFING TROUBLES? SCHEDULE A FREE ESTIMATE NOW </p>
                <p> Is your roof in need of roof replacement or repair? Turn to the top-rated roofer in the Greater St. Louis and Kansas City area: Midtown Home Improvements. Call us at <strong class="text-success">(816) 246-8589</strong> in O’Fallon, MO, or at <strong class="text-success"> (636) 379-8889</strong> in Lee’s Summit, MO. You may also <a href="{% url 'pages:contact' %}" class="text-success text-decoration-none">fill out our online form </a> to get started. </p>
                *&nbsp; Roofing services are not yet available in Illinois
            </div>
        </div>
    </section>

{% endblock %}