{% extends '_base.html' %}
{% load static %}

{% block content %}
    <!-- title the area's top exterior-->
    <section>
        <div class="row">
            <div class="col-md-12">
                <p class="display-6 d-flex justify-content-center"> THE AREA’S TOP EXTERIOR <br> IMPROVEMENT CONTRACTOR </p>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <hr class=" border border-4 border-success" style="width:5rem;">
            </div>
        </div>
    </section>

    <!-- install maintenance-free vinyl siding -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="h3"> INSTALL MAINTENANCE-FREE VINYL SIDING AND NEVER PAINT YOUR HOME AGAIN </p>
            </div>
            <div class="col-md-12">
                <img src="{% static 'images/siding.jpg' %}" class="card-img p-4" alt="siding gutter">
                <p> Make your home a true reflection of you with a beautiful new exterior. With new or replacement vinyl siding, your home always looks like it has been freshly painted. Midtown uses only the best-quality vinyl siding materials available. And, don’t forget to ask about Midtown’s exclusive replacement vinyl siding in longer lengths so there are fewer seams. All siding purchases come with a manufacturer’s warranty with a lifetime guarantee, plus Midtown’s Workmanship Warranty. </p>
            </div>
        </div>
    </section>

    <!-- videos -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12 p-3">
                <div class="ratio ratio-21x9">
                    <iframe src="https://www.youtube.com/embed/auUfHL9VvjQ" title="YouTube video player" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-12 p-3">
                <div class="ratio ratio-21x9">
                    <iframe src="https://www.youtube.com/embed/KwTx2JrOfJs" title="YouTube video player" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- professional siding, soffit and fascia -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="h3"> PROFESSIONAL SIDING, SOFFIT, FASCIA & GUTTER INSTALLATIONS </p>
                <p> Midtown’s exterior home remodeling experts are professionally trained, giving the homeowner a perfect job every time! </p>
                <p> When installing vinyl siding, we give the utmost attention to every detail to provide you with a complete and professional job that will look great for many years to come. Underneath it all, our trained installers start with a layer of insulation board, smoothing out the walls of your home for a nice, clean vinyl siding installation, which effectively wraps your home against air infiltration. Many customers have commented on enjoying a quieter and warmer home after having our custom vinyl siding installed. </p>
                <p> Midtown also installs vented soffit systems allowing proper ventilation into your home and avoiding moisture problems. Custom-bent fascia trim gives your exterior added beauty and strength. Midtown also carries a warranted seamless gutter system, which is professionally formed and installed right at your home! </p>
            </div>
        </div>
    </section>

    <!-- Designer series vinyl siding  -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="h3"> DESIGNER SERIES VINYL SIDING </p>
                <p> There’s one word to describe why Designer Series Vinyl Siding stands out from the crowd: elegance. Designer Series Vinyl Siding transforms the character of your home, adding new life and beauty. The Designer Series portrays a classic styling in an array of colorfast contemporary colors, which retain their fresh color appearance for a lifetime. </p>
                <p> The elegant peach smooth finish replicates the look of a painted wood surface. This highly durable vinyl siding is 50% thicker than conventional vinyl siding and exceeds industry impact standards by an average of 198%. Thanks to a special PVC formulation and a greater overall thickness, other vinyl siding can only hope to match its superior performance. </p>
                <p> Our vinyl siding is manufactured with proprietary designs to deliver greater durability, rigidity and wind resistance, and more attractive, fade-resistant colors. Extra Long panels producing 33% fewer laps for a more attractive finished appearance. </p>
                <p> Professional vinyl siding installation is our reputation! We have been doing this type of work for decades in St. Charles, St. Louis and Jefferson counties. </p>
            </div>
        </div>
    </section>

    <!-- Designer series features and benefits -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="h3">Designer Series Features & Benefits:</p>
            </div>
            <div class="col-md-6">
                <ul class="list-group-flush">
                    <li class="list-group-item"> Manufactured with proprietary technology </li>
                    <li class="list-group-item"> Unique TriBeam System </li>
                    <li class="list-group-item"> Color-through process never needs painting </li>
                    <li class="list-group-item"> Will not dent, peel, rust, flake or corrode </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group-flush">
                    <li class="list-group-item"> Cost-effective; virtually maintenance-free cladding system </li>
                    <li class="list-group-item"> Resists the shearing force of winds up to a Category-5 hurricane </li>
                    <li class="list-group-item"> Exclusive lifetime, non-prorated manufacturer’s warranty </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- get a free exterior estimate -->
    <section class="my-5">
        <div class="row">
            <div class="col-md-12">
                <p class="h3"> GET A FREE EXTERIOR ESTIMATE </p>
                <p>If you’re ready to launch your project in the Greater St. Louis and Kansas City area, then call us at <strong class="text-success">(816) 246-8589</strong> in O’Fallon, MO, or at <strong class="text-success">(636) 379-8889</strong> in Lee’s Summit, MO. You can also <a href="{% url 'pages:contact' %}" class="text-success text-decoration-none"> fill out our online form</a> to get started.</p>
            </div>
        </div>
    </section>
{% endblock %}