{% extends '_base.html' %}
{% load static  %}

{% block content %}
    <div class="container my-5">

        <div class="row my-5">
            <div class="col-md-12">
               <p class="display-6"> PREMIER WINDOW INSTALLER & SIDING REPLACEMENT COMPANY IN JOHNSON COUNTY, KS </p>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <hr class="border border-3 border-success" style="width: 5rem;">
            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-12">
                <p class="h3"> LET’S TALK ABOUT YOUR NEXT EXTERIOR PROJECT </p>
                <img src="https://lirp.cdn-website.com/c6745897/dms3rep/multi/opt/roof-installation-services-st-louis-mo-2880w.jpg" class="card-img p-4" alt="kitchen">
                <p> Your home’s exterior is subject to whatever Mother Nature throws at it. Two elements, your windows and siding, can really take a beating throughout the years. The problem is that most of us don’t even pay attention to these elements until there’s an obvious problem – broken or drafty windows, or siding that’s cracked or fading. </p>
                <p> When these components have reached this stage, they might not be able to be repaired. Instead, you may have to replace them. If you suspect that any of your exterior components have started to fail, turn to the most reliable contractor in Johnson County: Midtown Home Improvements. With over 40 full-time employees and 30 part-time employees, we can manage any size project, but we’re still small enough to care about your individual needs. </p>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-12">
                <p class="h3"> NEARLY 30 YEARS OF EXPERIENCE WORKING ON HOMES JUST LIKE YOURS</p>
                <p> A business that has been around for 10 years is considered a stable one. Midtown Home Improvements has been working hard for Johnson County residents for nearly 30 years! Our mission is to be the best home improvement company in the area, and we have succeeded at doing just that. We’re proud to offer our services throughout metro Kansas City, including the following cities. </p>
            </div>
            <div class="col-md-6">
                <ul class="list-group-flush">
                    <li class="list-group-item"> Overland Park </li>
                    <li class="list-group-item"> Leawood </li>
                    <li class="list-group-item"> Merriam </li>
                    <li class="list-group-item"> Olathe </li>
                    <li class="list-group-item"> Shawnee</li>
                    <li class="list-group-item"> Lenexa </li>
                    <li class="list-group-item"> Kansas City </li>
                    <li class="list-group-item"> Gardner </li>
                    <li class="list-group-item"> Mission </li>
                    <li class="list-group-item"> Prairie Village </li>
                </ul>
            </div>

             <div class="col-md-6">
                <ul class="list-group-flush">
                    <li class="list-group-item"> De Soto </li>
                    <li class="list-group-item"> Roeland Park </li>
                    <li class="list-group-item"> Fairway </li>
                    <li class="list-group-item"> Edgerton </li>
                    <li class="list-group-item"> Mission Hills </li>
                    <li class="list-group-item"> Westwood </li>
                    <li class="list-group-item"> Lake Quivira </li>
                    <li class="list-group-item"> Westwood Hills </li>
                    <li class="list-group-item"> Gardner Township </li>
                    <li class="list-group-item"> And surrounding areas </li>
                </ul>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-12">
                <p class="h3"> CONTACT US TO GET STARTED</p>
                <p> If you’re ready to launch your project, then use the best siding replacement and window installer around. One of the experts at Midtown Home Improvements will gladly come to your property and provide with you with a free inspection and estimate. Schedule your appointment by calling us today at (816) 246-8589 or fill out our online form. </p>
            </div>
        </div>
    </div>
{% endblock %}