{% extends '_base.html' %}
{% load static %}

{% block content %}

    <div class="container my-5">
        <!-- title window and door -->
        <section class="my-5">
            <div class="row">
                <div class="col-md-12">
                    <p class="display-6 d-flex justify-content-center">WINDOW AND DOOR REPLACEMENT CONTRACTOR  SERVING ST. LOUIS & KANSAS CITY</p>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <hr class="border border-4 border-success" style="width: 5rem;">
                </div>
            </div>
        </section>


        <!-- Offering the highest quality replacemnet -->
        <section class="my-5">
            <div class="row">
                <div class="col-md-12">
                    <p class="h3"> OFFERING THE HIGHEST-QUALITY REPLACEMENT WINDOWS & DOORS </p>
                    <img src="{% static 'images/windown.jpg' %}" class="card-img p-4" alt="deck">
                    <p> Get value all year long with our Legacy Series triple-panel, energy-efficient vinyl replacement windows. Triple-pane glass R-values of up to 10 and current U values of under 0.22 offer homeowners the greatest thermal performance and value. </p>
                    <p> Triple-pane R-10 glass is nearly 10 times more energy-efficient than standard single-pane glass. Keep in mind that energy-efficient vinyl windows help conserve energy during all months of the year. Besides conserving heat in the winter, ultraviolet (UV) ray protection and reduced air conditioning costs make energy-efficient windows a year-long return on your investment. Top-quality vinyl windows are easier on the environment, require less maintenance and generally cost less, giving better value to homeowners. </p>
                </div>
            </div>
        </section>

        <!-- videos  -->
        <section class="my-5">
            <div class="row">
                <div class="col-md-12 p-3">
                    <div class="ratio ratio-21x9">
                        <iframe src="https://www.youtube.com/embed/9LpZRdPgZGs" title="YouTube video player" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-12 p-3">
                    <div class="ratio ratio-21x9">
                        <iframe src="https://www.youtube.com/embed/0WKW8ncLKIQ" title="YouTube video player" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-12 p-3">
                    <div class="ratio ratio-21x9">
                        <iframe src="https://www.youtube.com/embed/5kEwWfxBhsQ" title="YouTube video player" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-12 p-3">
                    <div class="ratio ratio-21x9">
                        <iframe src="https://www.youtube.com/embed/kGrYoyng_jI" title="YouTube video player" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-12 p-3">
                    <div class="ratio ratio-21x9">
                        <iframe src="https://www.youtube.com/embed/pz7AxvHwc1k" title="YouTube video player" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-12 p-3">
                    <div class="ratio ratio-21x9">
                        <iframe src="https://www.youtube.com/embed/4cUGNvHyuXw" title="YouTube video player" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-12 p-3">
                    <div class="ratio ratio-21x9">
                        <iframe src="https://www.youtube.com/embed/E8nyDqHVaEU" title="YouTube video player" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-12 p-3">
                    <div class="ratio ratio-21x9">
                        <iframe src="https://www.youtube.com/embed/AE_6l7VGrnE" title="YouTube video player" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>

        <!-- Custom Entry Door -->
        <section class="my-5">
            <div class="row">
                <div class="col-md-12">
                    <p class="h3"> CUSTOM ENTRY DOORS </p>
                    <p> Looking for a simple way to beautify your home? Your entryway is a prominent feature of your home. Does it speak to your style? A beautiful custom entryway from Midtown can offer a welcoming embrace to your friends and family. Everyone will see it, touch it and admire it, so your entryway should represent your home and personality. Midtown offers a variety of glass styles, finishes and accessories to allow you to tell your story. </p>
                    <p> You can create the warmth and charm of a country cottage or the heritage of the finest colonial home. Combine deep wood stains or rich colors with decorative glass for a look that is timeless. With a multitude of options and colors from which to choose, you are sure to find a Midtown entryway door to make your home more beautiful. Improve energy efficiency with an ENERGY STAR®-rated entry door, and increase energy savings year-round. </p>
                    <p> In order to earn the ENERGY STAR label, entry doors must meet regional criteria for U-value and solar heat gain. The ENERGY STAR label on Midtown doors mean you will save money on utility bills, increase the comfort of your home and help the environment. </p>
                    <p> Midtown offers both steel and fiberglass doors. All doors are installed by exclusive door specialists to ensure a perfect fit. Our 22 Gauge Steel Door is a perfect combination of security and beauty. Doors installed by Midtown can feature decorative or clear glass that is thermally sealed, which allows natural light to enter while utilizing energy-efficient insulation. </p>
                </div>
            </div>
        </section>

        <!-- get a free estimate -->
        <section class="my-5">
            <div class="row">
                <div class="col-md-12">
                    <p class="h3"> GET A FREE ESTIMATE </p>
                    <p> Need window and door replacement? We offer free estimates. Contact us today at <strong class="text-success"> (816) 246-8589 </strong> in O’Fallon, MO, or at <strong class="text-success"> (636) 379-8889 </strong> in Lee’s Summit, MO. You may also <a href="{% url 'pages:contact'%}" class="text-success text-decoration-none"> fill out our online form. </a></p>
                </div>
            </div>
        </section>
    </div>

{% endblock %}