$theme-colors: (
        "primary": #0074d9,
        "secondary": #6c757d,
        "success": #198754,
        "info": #0dcaf0,
        "warning": #ffc107,
        "light": #f8f9fa,
        "danger": #ff4136,
        "green": #258c55,
        "dark": #463f3a,
        "blue": #8499B1,
        "cedar": #c75000,
        "ghost": #e8e9f3,
        "orange": #FF7700,
        "tan": #EFD28D,
        "purple": #AE759F,
);

$font-size-base: 1.15rem;

.clip-home {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0% 80%);
  //clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 85%, 50% 100%, 25% 85%, 0 80%);
  //clip-path: circle(70% at 50% -40%);
}

@media only screen and (min-width: 460px) {
  .clip-footer {
    //clip-path: polygon(0 100%, 100% 100%, 100% 5%, 50% 0%, 0% 5%);
    //clip-path: polygon(0% 100%, 100% 100%, 100% 30%, 75% 0%, 50% 0%, 30% 11%, 0% 0%);
    clip-path: polygon(0% 0%, 25% 7%, 50% 10%, 75% 7%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@import '../vendors/bootstrap5/scss/bootstrap';

